/* 
    Created on : 26-Mar-2018, 10:54:45
    Author     : official
*/
.div-color{

    font-family: Open Sans;
    font-size: 14px;
    color: #8b91dd;
    border: 2px solid #8b91dd;
    width: 150px;
    height: 40px;
    padding-left: 30px;
    text-align: left;
    line-height: 35px;
    padding-right: 20px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-radius: 21px;
    cursor: pointer;
    margin-right: 40px;
}
.div-color-2{

    font-family: Open Sans;
    font-size: 14px;
    color: #8b91dd;
    border: 2px solid #8b91dd;
    width: 150px;
    height: 40px;
    padding-left: 30px;
    text-align: left;
    line-height: 35px;
    padding-right: 20px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-radius: 21px;
    cursor: pointer;

}


@media (min-width: 768px) and (max-width: 1024px) {
    .hei-image{
        height: 632px;
    }
    .menu-sec nav > ul > li > a {
        float: left;
        font-family: Open Sans;
        font-size: 15px;
        color: #ffffff;
        position: relative;
        padding: 15px 10px;
    }

    .showsticky {
        display: none;
        position: absolute;
        left: 0;
        top: 22px;
    }



}


@media (min-width: 1025px) and (max-width: 1280px) {
    .hei-image{
        height: 665px;
    } 
    .menu-sec nav > ul {
        float: right;
        margin: 0;
        margin-right: 32px;
    }
}

@media screen and (max-width: 520px){
    .text-c{
        text-align: center;
    }
}
@media screen and (max-width: 400px){
    .nav-icon{
        font-size: 30px;

    }
    .res-openmenu{
        margin-top: 0px;
    }
    .res-closemenu {
        margin-top: 0px;
    }

}

@media screen and (min-width: 389px) and (max-width: 519px){
    .nav-icon{
        font-size: 30px;

    }
}
@media screen and (min-width: 389px) and (max-width: 399px){
    .res-closemenu {
        padding-top: -100px !important;
        margin-top: -100px;
    }
}

@media screen and (min-width: 520px) and (max-width: 991px){
    .nav-icon{
        font-size: 34px;
    }
    .res-openmenu{
        margin-top: -37px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px){
    .nav-icon{
        font-size: 34px;
    }
    .res-openmenu{
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        font-size: 15px;
        font-family: Open Sans;
        padding: 13px 27px;
        -webkit-border-radius: 26px;
        -moz-border-radius: 26px;
        -ms-border-radius: 26px;
        -o-border-radius: 26px;
        border-radius: 26px;
        cursor: pointer;
    }
}

.link-line {
    padding-bottom: 15px;
    font-size: 14px;
}
@media screen and (max-width: 310px){
    .post-job-btn1 {
        float: left !important;
        font-family: Open Sans !important;
        font-size: 14px !important;
        padding: 12px 6px !important;
        padding-top: 12px !important;
        -webkit-border-radius: 23px !important;
        color: #fff !important;
        -moz-border-radius: 23px !important;
        -ms-border-radius: 23px !important;
        -o-border-radius: 23px !important;
        border-radius: 23px !important;
        letter-spacing: 0.3px !important;
        padding-top: 10px !important;
    }
}

@media screen and (max-width: 767px){
    .job-field input {
        height: 40px;
    }
    .job-search form button {
        height: 39px;
        padding: 0 0;
        font-size: 25px;
        width: 66px;
    }
    .job-field i {
        top: 8px !important;
    }
}
@media screen and (max-width: 520px){
    .job-field input {
        height: 40px !important;
    }
    .job-search form button {
        height: 39px !important;
        padding: 0 0;
        font-size: 25px !important;
        width: 66px !important;
    }
    .responsive-menubar {
        float: left;
        width: 100%;
        padding: 10px 0;
    }
    .job-search form button {
        height: 50px;
        padding: 0 0;
        font-size: 22px !important;
    }
    .job-search form .row {
        margin: 0 14px !important;
        padding-top: 95px !important;
    }
    .main-slider-sec img {
        float: left;
        width: 100%;
        opacity: 0.8;
        height: 151px;
    }
    .vacnt-btn {
        padding-top: 34px !important;
        margin-right: -45px !important;
        text-align: center !important;
    }
    .emply-pstn {
        display: inline-block !important;
        position: static !important;
    }
}
@media screen and (min-width: 520px) and (max-width: 991px){
    .job-search form .row {
        margin: 0 14px !important;
        padding-top: 170px !important;
    }
    .responsive-menubar {
        padding: 5px 0;
    }
    .menu-resaction {
        float: right;
        position: relative;
        padding-top: 42px;
    }
}
@media screen and (min-width: 991px)and (max-width: 1200px){
    .job-search form .row {
        margin: 0 14px !important;
        padding-top: -50px !important;
    }
    .job-search {
        float: left;
        width: 100%;
        padding: 0;
        margin-bottom: 54px;
    }
    .responsive-menubar {
        padding: 5px 0;
    }
    .menu-resaction {
        float: right;
        position: relative;
        padding-top: 42px;
    }
}

.vacnt-btn{
    padding-top: 34px;
    margin-right: -45px;
}
.post-job-btn1 {
    float: left;
    font-family: Open Sans;
    font-size: 14px;
    padding: 13px 27px;
    -webkit-border-radius: 23px;
    color: #fff;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
    letter-spacing: 0.3px;
}
.post-job-btn1:hover{
    color: #91BF38 !important;
}
.forsticky.sticky .post-job-btn1{
    border: 2px solid #91BF38;
    color: #91BF38;
}
.btn-extars .post-job-btn1:hover {
    background: transparent;
    border: 2px solid #91BF38;
    color: #FFF;
}

.img-vacnt{
    width: 110px !important;
}
.im-vacancy{
    width: 150px;
}

.no-pad{
    margin-bottom: 3px !important;
}
.pf-title1{
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 14px;
    color: #202020;
    margin-bottom: 10px;
}

.about{
    padding-bottom: 18px;
    text-align: center;
}
.mem-reg{
    vertical-align: middle;
    border: none;
    padding: 0;
}
.scroll-to:hover a {
    color: #ffffff !important;
}
.com-name .la-map-marker{
    font-size: 14px !important;
    color: #777 !important;
    padding-left: 30px !important;
}
.star-la{
    float: left;
}
.com-name{
    color: #5E63A2 !important;
    padding-top: 5px;
}
.stick-top.forsticky.sticky {
    height: 89px;
}
.img-industy{
    width: 100px;
    display: initial;
}
.port-styl{
    color: #fff;
    padding-top: 100px;
}
#modal-description{
    text-align: justify;
    padding-top: 10px;
}

.account-popup1 {
    position: relative;
    float: left;
    background: #ffffff;
    z-index: 1;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    left: 50%;
    margin-left: -230px;
    margin-top: 140px;
    margin-bottom: 60px;
    text-align: center;
    padding: 40px 60px;
}

.account-popup1 .close-popup {
    position: absolute;
    top: -20px;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0;
    right: -11px;
    text-align: center;
    line-height: 63px;
    color: #000;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.model-title{
    float: none;
    display: inline-block;
    border: 2px solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 13px 30px;
    font-family: Open Sans;
    font-size: 15px;
    margin-top: 20px;
    color: #5E63A2;
}
.model-title:hover {
    border-color: #FFF;
    background: #FFF;
    color: #fb236a;
}
.model-text{
    font-size: 24px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, 
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, 
.col-sm-12, .col-md-12, .col-lg-12 {
    color: #2E3780;
}
ul.setPaginate li.setPage{
    padding:15px 10px;
    font-size:14px;
}

ul.setPaginate{
    font:12px 'Tahoma';
    list-style-type:none;   
} 
.setPaginate{
    text-align: center;
    padding-top: 80px;
    margin-top: 100px;
}
ul.setPaginate li.dot{padding: 3px 0;}

ul.setPaginate li{
    float:left;
    margin:0px;
    padding:0px;
    margin-left:5px;
}

ul.setPaginate li a
{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #cccccc;
    color: #999999;
    display: inline-block;
    font: 15px/25px Arial,Helvetica,sans-serif;
    margin: 5px 3px 0 0;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}   

ul.setPaginate li a:hover,
ul.setPaginate li a.current_page
{
    background: none repeat scroll 0 0 #0d92e1;
    border: 1px solid #000000;
    color: #ffffff;
    text-decoration: none;
}

ul.setPaginate li a{
    color:black;
    display:block;
    text-decoration:none;
    padding:5px 8px;
    text-decoration: none;
} 

@media screen and (min-width: 320px)and (max-width: 568px){

    .font-resize-mobile{
        font-size: 13px;
    }
    .menu-resaction{

        margin-top: -114px;
    }
    .shortlists-p {
        padding-top: 15px;
        padding-left: 40px;
    }
    .emply-resume-info{
        padding-left: 0px;
    }
    #shortlists > a{
        loat: left;
        font-family: Open Sans;
        font-size: 14px;
        color: #8b91dd;
        border: 2px solid #8b91dd;
        width: 120px;
        height: 40px;
        padding-left: 17px;
        text-align: left;
        line-height: 35px;
        padding-right: 13px;
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        -ms-border-radius: 21px;
        -o-border-radius: 21px;
        border-radius: 21px;
        cursor: pointer;
    }
    .block-p{
        padding: 20px 0;
    }
}

@media screen and (min-width: 375px)and (max-width: 667px){
    .menu-resaction{

        margin-top: 0px;
    }
}
@media screen and (min-width: 360px)and (max-width: 640px){
    .menu-resaction{

        margin-top: 0px;
        margin-right: -15px;

    }
    .shortlists-p{
        padding-top: 15px;
        padding-left: 50px;
    }
    .emply-resume-info{
        padding-left: 0px;
    }
    #shortlists > a{
        loat: left;
        font-family: Open Sans;
        font-size: 14px;
        color: #8b91dd;
        border: 2px solid #8b91dd;
        width: 120px;
        height: 40px;
        padding-left: 17px;
        text-align: left;
        line-height: 35px;
        padding-right: 13px;
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        -ms-border-radius: 21px;
        -o-border-radius: 21px;
        border-radius: 21px;
        cursor: pointer;
    }

    #div-color-3{
        loat: left;
        font-family: Open Sans;
        font-size: 14px;
        color: #8b91dd;
        border: 2px solid #8b91dd;
        width: 120px;
        height: 40px;
        padding-left: 17px;
        text-align: left;
        line-height: 35px;
        padding-right: 13px;
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        -ms-border-radius: 21px;
        -o-border-radius: 21px;
        border-radius: 21px;
        cursor: pointer;
    }
    .block-p{
        padding: 20px 0;
    }
    #footer-title-res{
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .top-p{
        padding-top: 40px;
    }
    .new-p-bottom{
        padding-bottom: 20px;
    }
    .res-new-p{
        padding-left: 30%;
    }
    .res-new-r{
        padding-right: 15px;
    }
    .post-job-btn1{

        float: left;
        font-family: Open Sans;
        font-size: 14px;
        padding: 8px 8px;
        -webkit-border-radius: 23px;
        color: #fff;
        -moz-border-radius: 23px;
        -ms-border-radius: 23px;
        -o-border-radius: 23px;
        border-radius: 24px;
        letter-spacing: 0.3px;

        margin-right: 29px;
    }
    .account-btns{
        padding-top:6px;
    }
}
