/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Mar-2018, 10:54:45
    Author     : official
*/
.about{
    padding-bottom: 18px;
    text-align: center;
}
.mem-reg{
    vertical-align: middle;
    border: none;
    padding: 0;
}
.scroll-to:hover a {
    color: #ffffff !important;
}
.com-name .la-map-marker{
    font-size: 14px !important;
    color: #777 !important;
    padding-left: 30px !important;
}
.star-la{
    float: left;
}
.com-name{
    color: #5E63A2 !important;
    padding-top: 5px;
}
.stick-top.forsticky.sticky {
    height: 89px;
}
.img-industy{
    width: 100px;
    display: initial;
}
.port-styl{
    color: #fff;
    padding-top: 100px;
}
#modal-description{
    text-align: justify;
    padding-top: 10px;
}

.account-popup1 {
    position: relative;
    float: left;
    background: #ffffff;
    z-index: 1;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    left: 50%;
    margin-left: -230px;
    margin-top: 140px;
    margin-bottom: 60px;
    text-align: center;
    padding: 40px 60px;
}

.account-popup1 .close-popup {
    position: absolute;
    top: -20px;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0;
    right: -11px;
    text-align: center;
    line-height: 63px;
    color: #000;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.model-title{
    float: none;
    display: inline-block;
    border: 2px solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 13px 30px;
    font-family: Open Sans;
    font-size: 15px;
    margin-top: 20px;
    color: #5E63A2;
}
.model-title:hover {
    border-color: #FFF;
    background: #FFF;
    color: #fb236a;
}
.model-text{
    font-size: 24px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, 
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, 
.col-sm-12, .col-md-12, .col-lg-12 {
    color: #2E3780;
}