/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Mar-2018, 10:54:45
    Author     : official
*/
.stick-top.forsticky.sticky {
    height: 89px;
}
.img-industy{
    width: 100px;
    display: initial;
}
.port-styl{
    color: #fff;
    padding-top: 100px;
}
#modal-description{
    text-align: justify;
    padding-top: 10px;
}

.account-popup1 {
    position: relative;
    float: left;
    background: #ffffff;
    z-index: 1;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    left: 50%;
    margin-left: -230px;
    margin-top: 140px;
    margin-bottom: 60px;
    text-align: center;
    padding: 40px 60px;
}

.account-popup1 .close-popup {
    position: absolute;
    top: -20px;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0;
    right: -11px;
    text-align: center;
    line-height: 63px;
    color: #000;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
.model-title{
    float: none;
    display: inline-block;
    border: 2px solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 13px 30px;
    font-family: Open Sans;
    font-size: 15px;
    margin-top: 20px;
    color: #5E63A2;
}
.model-title:hover {
    border-color: #FFF;
    background: #FFF;
    color: #fb236a;
}
.model-text{
    font-size: 24px;
}